.page {
    margin: 0 auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-width: 1920px;
}
.accordion {
    width: 87vw;
    margin: 0 auto;
}
.title {
    margin-top: 7vw;
    margin-bottom: 0.3rem;
}
.meme {
    display: block;
    border-top: 2px gray solid;
    margin-bottom: 0.5rem;
    cursor: pointer;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.4rem;
    margin-top: 0.4rem;
}
.meme-text {
    margin-bottom: 0.3rem;
}
.meme-image {
    max-width: 0;
    max-height: 0;
    transition: 0.2s ease;
    display: block;
    margin: 0 auto;
}
.chek:checked + .meme .meme-image {
    max-width: 40vw;
    max-height: 40vw;
    transition: 0.4s ease;
}
.chek:checked + .meme {
    color: black;
}
.chek:checked + .meme .meme-icon {
    transform: rotate(45deg);
}
.chek {
    display: none;
}
.meme-icon {
    width: 1.3em;
    height: 1.3em;
    fill: black;
}
@media (min-width: 820px) {
    .page {
        font-size: 2rem;
    }
    .accordion:hover .meme-icon {
        display: block;
    }
    .meme {
        color: rgb(81, 81, 156);
    }
    .accordion:hover .meme-text {
        color: black;
    }
    .meme:hover .meme-icon {
        transform: rotate(45deg);
        transition: 0.5s ease;
    }
    .meme:hover .meme-image {
        max-height: 40vw;
        max-width: 40vw;
        transition: 0.5s ease;
    }
    .meme-icon {
        display: none;
     }
    .meme:active .meme-text {
        color: rgb(81, 81, 156);
    }
    .meme:active .meme-icon {
        fill: rgb(81, 81, 156);
    }
    .meme:active .meme-image {
        opacity: 0.7;
    }
}
@media (min-width: 1920px) {
    .page {
        font-size: 2.8rem;
    }
    .title {
        margin-top: 6vw;
        margin-bottom: 1.5rem;
    }
    .meme {
        margin-bottom: 1.5rem;
    }
    .container {
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
}
